.background-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(5px) brightness(20%);
    position: absolute;
    left: 0;
    top: 0;
    .message-container {
        width: 400px;
        height: 120px;
        border-radius: 5px;
        background-color: #fff;
        padding: 16px 20px;
        .txt {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 20px;
        }
        input {
            width: 80%;
            height: 30px;
            padding: 0 12px;
            border-radius: 3px;
            border: 1px solid rgb(211, 210, 210);
            outline: none;
            margin-bottom: 20px;
            &::placeholder {
                font-family: 'Open Sans', sans-serif;
                color: rgb(145, 141, 141);
            }
        }
        .btn-container {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            gap: 10px;
            button {
                font-family: 'Open Sans', sans-serif;
                height: 30px;
                width: 80px;
                border-radius: 3px;
                outline: none;
                font-weight: bold;
            }
            .cancel {
                border: 2px solid rgb(190, 189, 189);
                color: rgb(41, 40, 40);
                background-color: #fff;
                cursor: pointer;
                &:hover {
                    background-color:rgb(239, 244, 245)
                }
                &:active {
                    background-color:rgb(228, 226, 226)
                }
            }
            .create {
                background-color: rgb(20, 179, 118);
                color: #fff;
                font-weight: normal;
                border: none;
                cursor: pointer;
                &:hover {
                    opacity: 0.9;
                }
                &:active {
                    background-color: rgb(12, 105, 70);
                }
                &:focus {
                    opacity: 0.9;
                }
            }
        }
    }
}